[2018-01-26 21:55] doanac opened #40 "What should autoprov.url point at?"
I'm working my way through the deployment procedure and actually have things semi-functional in k8s now. The problem I'm now hitting is getting aktualizer to connect/register. It seems to want to do an HTTP POST to <autoprov.url>/devices. However, the k8s doesnt seem to expose such an endpoint. I tried to probe around a little and updated the gateway's nginx config with "devices" endpoint like:
[c

[2018-01-30 09:00] codders commented on #40
Hi @doanac,

We're looking into this. The community edition doesn't support automatic provisioning, but the process for manual provisioning has not yet been fully documented.

We'll get back to you as soon as we have some more details about how you should provision your devices.

[2018-02-08 16:24] doanac opened #53 "Proxying to minikube via nginx/https"
I've got a minikube setup on a baremetal server running pretty well now. I set up an nginx reverse proxy to expose the ingress items to the web. The config looks roughly like:
[code]

The problem I'm hitting is that I have to hand-edit templates/services/app.tmpl.yaml or the generated yml to talk to the websocket server. Specifically, I have to change:
[code]
I'm not sure how you'd like to handle

[2018-02-09 16:46] doanac commented on #40
Any updates on this? Trying to hook up a qemu device with my deployment.

[2018-02-15 21:23] alaa commented on #53
Hi @doanac Not sure if SSL support is on the road map for OTA CE, so it wont be reasonable to support SSL configs in that case. However you might need to introduce additional variable to support that case, something like `enable_wss: true` in your secrets.yaml file. and change the websockets config in app.tpl.yaml to something like this:
[code]
I hope that helps.

[2018-02-21 15:32] doanac commented on #53
I was thinking of the change you showed. Would you be willing to merge a pull request like this?

[2018-02-22 22:47] doanac opened #55 "ota-device-registry: How to delete a device?"
Looking at the [device-registry](https://github.com/advancedtelematic/ota-device-registry/blob/master/src/main/scala/com/advancedtelematic/ota/deviceregistry/DevicesResource.scala), I'm not seeing a way that I can delete test devices from my server. Is there a mechanism in place to do this?

[2018-02-25 21:14] doanac opened #56 "gateway missing /core/system_info API endpoint"
We've got our devices working pretty well with OTA-CE. One thing we are seeing now is that there is no hardware information showing up. A colleague has provided some logging from actualizr indicating its failing to make  a PUT call on /core/system_info. Looking at the gateway's nginx reverse proxy logic, it seems like a "core" path is needed and should probably route to some part of the device reg

[2018-02-28 04:55] doanac commented on #56
So I've hacked together a "fix" by adding the following snippet my gateways nginx config. I have no idea if this is actually correct, but its working/secure:
[code]

Please advice if this is correct.

[2018-02-28 19:12] doanac commented on #55
Glancing at https://github.com/GENIVI/rvi_sota_server/blob/master/device-registry/src/main/scala/org/genivi/sota/device_registry/DevicesResource.scala it seems like the device-registry code is missing a patch like:

 https://hastebin.com/izakedatap.py

[2018-03-23 21:48] doanac opened #59 "Latest Docker Version of Director Broken: 0.2.0-31-g84b848a"
The latest docker image(0.2.0-31-g84b848a) breaks at boot. This doesn't happen under 0.2.0-29-g68a1fa1. Here's the stack trace:
[code]

[2018-04-09 20:43] doanac commented on #56
So i've added some more hacks as our installed packages weren't showing up:
[code]

not sure if this is the correct way to do this?

[2018-04-10 14:38] jerrytrieu commented on #56
Yes, that is correct. Can you open a pull request for this? Thanks!

[2018-04-10 18:58] doanac commented on #56
Here you go: https://github.com/advancedtelematic/ota-community-edition/pull/60

[2018-04-11 10:00] #56 closed

[2018-04-11 14:27] doanac commented on #59
This is now fixed with the latest container: 0.2.0-35-gd04f6f6

[2018-04-11 14:27] #59 closed

[2018-04-23 20:14] bclouser opened #64 "Waiting for kafka?"
On Master, after install pre-reqs, ubuntu 16.04, Upon running 'make start' I get:
[code]

So I guess the kafka docker image is never starting? Is this common? Has anyone seen this before?

Thanks,
   Ben

[2018-04-23 20:45] taheris commented on #64
Hi Ben. The Kafka template [now waits](https://github.com/advancedtelematic/ota-community-edition/blob/c6a3eb47ffa1b30b67626df2ff465eeb30237d56/templates/infra/kafka.tmpl.yaml#L38) for Zookeeper before starting to avoid restarts. Can you check your `zookeeper_host` in the [infra.yaml config](https://github.com/advancedtelematic/ota-community-edition/blob/c6a3eb47ffa1b30b67626df2ff465eeb30237d56/co

[2018-04-23 21:53] bclouser commented on #64
Hi Taheris,

Output of cat config/infra.yaml
[code]

Should 'zookeeper_host' not be zookeeper?

[2018-04-24 14:16] taheris commented on #64
The default DNS name should be fine, but for some reason the kafka init container can't resolve that zookeeper hostname. Can you try removing the `initContainers` section entirely from `kafka.tmpl.yaml` file and re-running `make start`?

[2018-06-05 13:57] marceleng commented on #64
Hi all. I have the same issue with the unmodified latest tree. Removing the `initContainers` section from `kafka.tmpl.yaml` did not solve the problem.

[2018-06-05 14:11] taheris commented on #64
Hi @marceleng. Can you post the output from `kubectl logs kafka-0` and `kubectl describe pod kafka-0`? Thanks.

[2018-06-05 14:35] marceleng commented on #64
@taheris `kubectl logs kafka-0` finishes without any output. For the other one:

[code]

[2018-06-05 14:40] taheris commented on #64
Kafka isn't starting because the Persistent Volume Claim is still unbound. Can you post the output of `kubectl get pvc` and `kubectl get sc` as well? Thanks.

[2018-06-05 14:45] marceleng commented on #64
I'm not very familiar with Kubernetes. I assume this means that some storage space was not allocated for the services?

Here are the commands you asked for. My setup is running on Ubuntu 16.04 with minikube v0.27.0
[code]

[2018-06-05 14:50] taheris commented on #64
Thanks. The claims are created but stuck in pending. What does the output of `kubectl describe pvc kafka-claim-kafka-0` look like?

[2018-06-05 14:52] marceleng commented on #64
[code]

Thanks a lot for the help btw @taheris!

[2018-06-05 15:03] taheris commented on #64
No problem. It looks like the minikube is stuck waiting for the provisioner. Taking a look at their Github issues it seems a few other people are having this issue as well: https://github.com/kubernetes/minikube/issues/1783

Can you take a look at some of the suggested solutions in that thread and see if that helps?

[2018-06-06 09:48] marceleng commented on #64
I've looked a bit and I cannot reproduce the issue you referenced on my machine - it seems to have been fixed in recent minikube releases. However, looking at the log from `kubectl describe pvc kafka-claim-kafka-0` it seemed that something was missing from the infrastructure definition: `storageclass.storage.k8s.io "standard" not found`

I created such a class and loaded it manually to minikube an

[2018-06-06 14:40] taheris commented on #64
@marceleng: it seems there was a bug with older versions of httpie when redirecting to `/dev/null` while outputting to a file, which PR #75 should fix. Can you try again?

[2018-06-07 08:47] marceleng commented on #64
This fixed it for me thanks :). Also regarding the previous problem (hanging on Waiting for kafka), I think it is mostly related to the time taken by the cluster to create the persistent volumes and bind them to the right pods. It might be due to my setup, `iotop` shows that disk writes might be the bottleneck. I'll try running everything on an SSD.

[2018-06-07 14:56] taheris commented on #64
Good to hear. And yes, running all these services on one box can be disk IO heavy. I'll close this issue for now but you can open another if you run into further problems.

[2018-06-07 14:56] #64 closed

[2018-06-08 08:57] marceleng opened #79 "make print-hosts does not output IP addresses"
My setup:
- Ubuntu 16.04
- Minikube v0.27.0 with kvm2 driver
- Kubernetes v1.10.0
- kubectl v1.10.3

After successful start of the cluster, `make print-hosts` doesn't output any IP address:
[code]

I've looked a bit at [this issue](https://github.com/kubernetes/ingress-nginx/issues/1467) but the mentionned workaround does not seem to work for me.

[2018-06-08 09:00] taheris commented on #79
Which commit are you using? A merge was created yesterday from PR #77 to use the minikube ip instead which should be more reliable (when using minikube anyway).

[2018-06-08 09:18] marceleng commented on #79
My bad, I did not see that commit. Everything works for me after pulling the latest tree :)

Thanks!

[2018-06-08 09:18] #79 closed

[2018-06-13 19:27] doanac opened #80 "0.4 keyserver migration?"
Was wondering if there are plans for supporting the 0.4 keyserver's new [built-in encryption](https://github.com/advancedtelematic/libats/tree/master/libats-slick#configuration) in this project? I'm not sure how easy the migration is, and it sounds like it might break deployments that use offline keys?

[2018-06-14 08:22] taheris commented on #80
Currently slightly older versions are pinned in `config/images.yaml`, but yes, we will upgrade to the latest version of all images (including the keyserver migration) shortly. I have some changes related to this on a local branch already but there are a couple of smaller issues to resolve first before I create a PR.

[2018-08-10 17:01] doanac opened #89 "Director is broken with upstream Aktualizr"
This change in aktualizr:

 https://github.com/advancedtelematic/aktualizr/commit/e458e890113232eeaa209c2ff584acbcaa625ccd

Requires this version of director:

  https://github.com/advancedtelematic/director/pull/120

I think its probably time to update some versions in images.yaml.

[2018-08-13 14:38] taheris commented on #89
Hi, thanks for letting us know. I'm currently working on an alternative deployment model with Nix, which will hopefully be more stable than this to work with. I will create a PR for this repo when ready, although in the meantime I would suggest either using an older aktualizr version or alternatively you can try updating the services in `images.yaml` to `latest`.

[2018-12-14 21:54] doanac commented on #89
We are having some people asking us what container versions they should be on. I can understand wanting to do different tooling, but its making hard for us to consume this project w/o a little guidance. Would it be possible to update this file for now?

[2018-12-14 22:02] bclouser commented on #89
A list of known good versions that work together on the server side, as well as with Aktualizr would be nice. I am seeing a bunch of issues while trying to match compatibility with the version of aktualizr we have  running on our device, this being one of them (https://github.com/advancedtelematic/director/issues/147)

[2018-12-15 02:16] bclouser opened #91 "ota-device-registry UUID behavior mismatch with Aktualizr"
Hello, I'm new here, but hopefully I am not wildly off base.

It seems that this [commit](https://github.com/advancedtelematic/ota-device-registry/commit/1dd7458b807b4dbaf63b233f3309adc00d3bf8c9) in ota-device-registry, specifically this piece:
[code]
goes against the current behavior of Aktualizr and the reverse gateway configuration. At least during implicit provisioning, Aktualizr attempts to p

[2018-12-17 09:54] jerrytrieu commented on #91
@bclouser Thanks for the info! We'll look at reverting the breaking change in ota-device-registry.

[2018-12-21 06:15] bclouser opened #92 "user profile endpoint in ota-plus-server?"
Not an issue, just another question.

In the latest release of the ota-plus-server (5b1c352) there is a new (might not be that new) requirement to have an additional endpoint for user information.

The endpoint is described with these environment variables:
[code]

I stood up an endpoint and just blindly returned 200s, but that didn't seem to advance the UI which is still stuck asking for license

[2019-01-04 15:50] houcros commented on #91
@bclouser I've reverted that change and the behaviour when creating a new device should be as before. Thanks for the heads-up :)

[2019-01-04 15:50] #91 closed

[2019-01-04 16:38] bclouser commented on #91
@houcros Thanks! I will be taking this for a spin sometime soon

[2019-01-10 21:11] bclouser commented on #91
@houcros have you tested this? I am still seeing the same issue.
[code]
Again, in my logs for _device-registry_ i have a bunch of these:
[code]

Additionally, a random UUID is returned from `device-registry/proxy/api/v1/devices` PUT request as called from the "new_client" function in start.sh. That same "random" UUID is the one that shows up in the web UI, resulting in the same "device never seen

[2019-01-14 18:24] bclouser commented on #91
can you hint at what you were seeing? Did you get different errors? it might help to know as I dig around and try to understand this issue

[2019-01-24 15:48] houcros commented on #91
Hi, sorry for the hiatus, I forgot about this.
So I was seeing errors before reaching the device-registry, in the device-gateway. Then I learnt that there is a bug for implicit provisioning in aktualizr, which probably (and hopefully) explains this. The akrualizr guys are working on that. Once that's merged I'll give it another try and let you know :) But of course you could keep an eye on the akt

[2019-03-05 15:07] doanac opened #93 "gateway proxy logic?"
This repo hasn't been updated in some time and during that time there have been updates to the backend services that require some nginx proxying logic in the gateway deployment. Would it be possible for you guys to share a redacted version of your production gateway nginx.conf? I can sort of figure it out by reading aktualizr code, and then looking at the source for the backend services, but I fea

[2019-05-14 18:26] #92 closed

[2020-03-06 17:15] biswaranjan opened #98 "OSTree upload reported an error code:415 retrying..."
Team, I need some suggestion on the following issues I am facing while trying out ota-community-edition.

Followed the steps to run ota-community-edition server on minikube with --kubernetes-version v1.15.6. (it seems the scripts are not compartible with kubernetes v1.17.x)

Issue #1: I see crypt-vault-bootstrap-job stays in "ContainerCreating" state always. Is this normal ?
crypt-vault-bootstrap-

[2020-05-04 18:45] ddunlap2005 opened #99 "tuf-vault returning permission denied"
Hi,

Not sure if this project is still maintained. I've instantiated a minikube Kubernetes v1.15.6 cluster and ran 'make start'. I needed to modify the scripts/start.sh script in the following places:

- Added gateway to the list of policies in create_configs. This allows the gateway-policies configMap to be mounted for the crypt-vault-bootstrap-job.
- Used proper syntax for kubectl exec (added --

[2020-05-04 19:15] doanac commented on #99
@ddunlap2005 - I can't speak for here.com (the company behind this project), but not much happens in this project anymore. The components it deploys are *all* actively developed on though.

Your biggest problem is going to be rooted in the fact the container versions this repo deploys are *really* stale. In fact, "modern" reposervers no longer use vault which makes deploying this A LOT easier.

I'

[2020-05-04 19:28] ddunlap2005 commented on #99
Hi @doanac - I most certainly have read your Foundries.io blogs. Thank you very much for those! I did not attempt to clone your repos for, as you said, they are geared towards GKE.

I did attempt to use your helm_migration branch (which uses all the latest images) but came across a problem in the ota-gateway with attempting to resolve ota-tuf-reposerver-internal.default.svc.cluster.local in the ng

[2020-05-15 07:17] kriive commented on #99
Hi, @ddunlap2005 I'm interested in trying out OTA-community-edition too. Have you managed to bring the whole infrastructure up?

[2020-05-19 14:08] ddunlap2005 commented on #99
Hi @kriive. We have brought up the Fountries.io version of Ota-community-edition described in Andy's blogs above (not the Docker compose version). We are still working on the client and having a few errors, however. I am not sure if the problem is the client or the server-side. I will be helping our developer with the client-side this week hopefully.

[2020-05-29 19:17] ddunlap2005 opened #100 "Cannot register default qemu device with ota-community-edition"
I am seeing a situation that looks similar to https://github.com/advancedtelematic/aktualizr/issues/1646. The difference, I have just created my environment from scratch just a few hours ago. I am using a slightly updated version of Ota-community-edition with support for ota-tuf 0.4 build-in encryption (from Foundies.io). Specifically, the image versions I am using are:

[code]

The ota.ca server

[2020-05-29 19:19] #99 closed

[2020-05-29 19:19] ddunlap2005 commented on #99
I have given up on the master branch of this software.

[2020-06-01 13:45] eldojose commented on #92
Hi,
have you resolve this question? I'm face the same problem

[2020-06-02 07:22] patrickvacek commented on #100
I can't speak to the rest, but this particular line isn't an error; that just means there isn't a v2 of the Root metadata, which is expected if you haven't rotated your Root and it hasn't expired and gotten refreshed.

[2020-06-02 13:35] ddunlap2005 commented on #100
Thanks @patrickvacek for your response and thank you to your team for making this software available. I have customers interested in an on-premise solution for a TUF-compliant OTA update mechanism and have been trying to get a PoC ready to show them.

Is there a matrix (or some dependency graph of some type) on what versions of the server images work with each other and work with the various relea

[2020-06-04 23:07] #100 closed

[2020-08-12 08:26] msatpathy26 commented on #98
Even I am facing the exact same issue. Has anyone succeeded to fix/workaround this problem ?

[2020-08-17 13:27] adlingepa commented on #98
I am also facing the exact same issue. Has anyone succeeded to fix/workaround this problem ?

[2020-08-21 04:38] adlingepa commented on #98
Any updates on this? we are tried with all possible solutions, also upgraded Ubuntu OS version 16.04 to 18.04.
But we still having same error.

[2020-08-21 06:14] msatpathy26 commented on #98
Unfortunately, haven't heard anything on this yet. On older versions of aktualizr this issue was not faced. Downgrading aktualizr or re-tuning the mime types inside reverse proxy can be tried as a temporary workaround, until any fix is available for it.

[2020-08-21 06:43] adlingepa commented on #98
@msatpathy26  Thank you for quick response. Appreciate your quick help.
Just want to know,
Which commit of the aktualizr we need to use, to remove this error and
Can you guide us that how to re-tune the mime types inside reverse proxy ?
(sorry I am totally unaware about that)

[2020-08-26 07:56] simao commented on #98
Hi.

It looks like you'd need to upgrade treehub if you want to use an up to date version of aktualizr. Which version of aktualizr are you using?

[2020-08-26 07:59] simao commented on #93
Hi.

We don't use nginx in production. Which endpoints are failing for you?

Thanks

[2020-08-26 09:10] simao commented on #93
See #102

[2020-08-26 09:24] simao commented on #89
Hi.

In terms of versions working together, all versions in master should work together as that is what we use in qa. If something does not work in master is usually reverted fairly quickly.

You can get the latest docker tag by just using `git rev-parse HEAD`, for example `advancedtelematic/treehub:<git HEAD>`.

[2020-08-26 09:24] #89 closed

[2020-08-26 12:46] simao commented on #98
Let me know if the last update fix this, we might need to tweak gateway a bit more.

[2020-08-26 12:48] #80 closed

[2020-08-26 12:48] simao commented on #93
and #103

[2020-08-26 12:48] #93 closed

[2020-08-26 12:49] simao commented on #98
Regarding issue 1 you point out I removed crypt-vault entirely, we don't need it anymore.

[2020-08-26 16:56] adlingepa opened #104 "make start is failing, http: warning: HTTP 409 Conflict and make: *** [start] Error 4"
Hello Support Team,
Greetings,

I am unable to start the OTA CE server.
The make start script is failing with http error 409
I am using
minikube with driver as docker
ota-community-edition - latest commit #187e82e

below are the log
...
service/tuf-reposerver unchanged
configmap/web-events-config unchanged
deployment.apps/web-events unchanged
ingress.extensions/web-events configured
secret/web-eve

[2020-08-26 17:00] adlingepa commented on #98
@simao
I cleaned my environment, using make clean.
and tried with your latest commit #187e82e.
But now make start itself is failing.
I have reported error #104 for the same.

[2020-08-26 18:14] simao commented on #104
Hi @adlingepa. Could you try running `minikube delete` and then `make start`? Seems some resources are not being deleted.

[2020-08-26 18:32] adlingepa commented on #104
I'll try that,
I am working on VM server, I cannot use virtualbox driver for minikube.
here is another log  tried to check status of reposerver,

$ http --print=b GET http://localhost:8200/api/v1/namespaces/default/services/tuf-reposerver/proxy/health/dependencies
{
    "apiVersion": "v1",
    "code": 503,
    "kind": "Status",
    "message": "no endpoints available for service \"tuf-reposerver\""

[2020-08-26 18:36] simao commented on #104
Hm, I havent tried this with other drivers, please make sure you are starting from scratch before `make start` on your logs looks like services hadn't been deleted properly.

You should be able to check reposerver after changing your `/etc/hosts` like describe in the README, with `http http://tuf-reposerver.ota.local/health`.

But in any case from that log message it does look like reposerver did

[2020-08-26 19:27] adlingepa commented on #104
Attaching the complete logs with clean environment
[make_start_fail.log](https://github.com/advancedtelematic/ota-community-edition/files/5132424/make_start_fail.log)

Waiting for reposerver
Waiting for reposerver
Waiting for reposerver
Waiting for reposerver
HTTP/1.1 503 Service Unavailable
Cache-Control: no-cache, private
Content-Length: 87
Content-Type: text/plain; charset=utf-8
Date: Wed, 26 A

[2020-08-26 19:35] adlingepa commented on #104
Reposerver health looks OK,

prashanta@hiuyoctovmnew:/tmp$ http http://tuf-reposerver.ota.local/health
HTTP/1.1 200 OK
Connection: keep-alive
Content-Length: 15
Content-Type: application/json
Date: Wed, 26 Aug 2020 19:33:24 GMT
Server: nginx/1.13.9
x-ats-version: reposerver/0.7.1-22-g1d0d714

{
    "status": "OK"
}

prashanta@hiuyoctovmnew:/tmp$

[2020-08-26 20:45] simao commented on #104
One of the servers seems to be down but I cannot see which from the logs. What is the result of `http http://tuf-reposerver.ota.local/health/dependencies` ?

You can check the logs on the containers themselves:

`kubectl get pods`
`kubectl logs <container>`

And see which pod did not start properly.

Might also be worthwhile running with `DEBUG=true` so we see exactly which call is failling.

[2020-08-27 05:45] adlingepa commented on #104
result of http http://tuf-reposerver.ota.local/health/dependencies as below,

[code]
Below is the status of  kubectl get pods
seems all pods started successfully
[code]
logs of tuf-reposerver pod as,

[code]
After enabling DEBUG=true, I come to know that package zip is not installed,

[code]
I installed zip using apt install zip, and tried again,
still the same http error 409
[code]
Attached the t

[2020-08-27 08:51] simao commented on #104
thanks for the info.

The second error is because the repo already exists, which means the second run was not on a clean environment. You can either clean and try again, after having zip installed, or you can update to latest master, I now made this idempotent so it should continue if the repo already exists.

[2020-08-27 11:47] adlingepa commented on #104
Thanks for Update @simao

Worked with the latest commit #4f0c895,
Thank you for your support.

[2020-08-27 11:47] adlingepa commented on #98
Thanks for Update @simao

Worked with the latest commit #4f0c895,
Thank you for your support.

[2020-08-28 07:42] simao commented on #104
Thanks for the issue report!

[2020-08-28 07:42] #104 closed

[2020-08-28 07:43] simao commented on #98
Thanks for the issue report!

[2020-08-28 07:43] #98 closed

[2020-08-31 11:27] adlingepa opened #105 "Not able to visit the Admin User Interface, ota-user-profile: System error"
I am trying to setup the ostree meta-update yocto build environment and OTA CE server on same VM server machine.
I am able to setup the OTA CE server using make start with docker as minikube driver.
But while trying to access the Admin user interface using http://app.ota.local url, this url is redirected to http://app.ota.local/login page automatically and gives error as "ota-user-profile: System

[2020-09-01 15:19] ddunlap2005 opened #106 "Invalid tuf-reposerver URL in startup.sh get_credentials function"
If you are using /etc/hosts to perform your DNS resolution, you cannot resolve tuf-reposerver.ota.local until the 'make start' is complete. Also, need to do a case-insensitive search for x-ats-tuf-repo-id.

[code]

[2020-09-01 15:23] ddunlap2005 opened #107 "libressl: work-around required due to lack of ENV support"
Some host systems (I use macOS) install libressl which does not support openssl's ENV mechanism. I apply the following fix to get around this:

[code]

[2020-09-01 15:29] ddunlap2005 opened #108 "macOS specific: Illegal byte sequence returned when accessing /dev/urandom"
The /dev/urandom device works a little differently under macOS than with Linux. In the configure_db_encryption function, the call to tr returns:

$ tr -cd '[:alnum:]' < /dev/urandom
tr: Illegal byte sequence
o%

In macOS, you need to prefix this call with LC_CTYPE=C (default is UTF-8) as documented in https://stackoverflow.com/questions/18953667/illegal-byte-sequence-error-while-using-shell-comman

[2020-09-01 15:33] ddunlap2005 opened #109 "Makefile should allow k8s version to be selected"
In order to allow the instantiation of the server to be a little more deterministic, you should allow the user to select which Kubernetes is installed through minikube. The following simple patch would allow this:

[code]

[2020-09-01 17:00] ddunlap2005 opened #110 "campaigner pod restart loop due to outdated migrations"
Hi,

When I start the latest OTA Community Edition (28 August 2020) using all defaults (plus 4 changes which I have already documented in previous "issues"), the campaigner pod continuous reboots. Looking at the logs, I see:

$ kubectl logs campaigner-76cf7cc696-gtskl
I|2020-09-01 16:51:05,945|akka.event.slf4j.Slf4jLogger|Slf4jLogger started
W|2020-09-01 16:51:06,262|akka.util.ManifestInfo|Detecte

[2020-09-02 13:39] ddunlap2005 commented on #110
I rebuilt the latest from GitHub.com and also received the same error just starting it up with 'sbt run':

[code]

[2020-09-08 17:37] msatpathy26 opened #111 "start-services fails with http: NewConnectionError"
I tried to start the services following the instructions from contrib/gke/README.md.

Running  './contrib/gke/make SERVER_NAME=ota-ce.example.com DNS_NAME=example.com start-services' stops with the following error:
...
Waiting for keyserver
Waiting for keyserver
Waiting for keyserver
"4b8422a6-0f77-4219-b51d-3b24e0423a37"
http: error: ConnectionError: HTTPConnectionPool(host='tuf-reposerver.ota.lo

[2020-09-09 13:30] ddunlap2005 commented on #111
@msatpathy26 Look at the change I documented in issue #106. It fixes the URL which, likely works for the developers because they are using a proper name server. You will likely need to put a short sleep prior to this tuf call as well. Without the sleep, the id request fails.

[2020-09-09 13:40] ddunlap2005 commented on #105
@adlingepa About 8 months ago, commit https://github.com/advancedtelematic/ota-plus-server/commit/b03ac42d3537007aa2f3cba637c278e575cc78e0 was introduced. This commit adds a call to userProfileApi within the NoLoginAction. OTA Community Edition does not use the ota-user-profile that I can see; Ota-plus-server does not even define the USER_PROFILE_HOST/PORT environment variables.

I was able to bri

[2020-09-09 14:11] msatpathy26 commented on #106
@ddunlap2005, I tried with the suggested change above with a delay of 5s. It finally worked after days of trying :+1:

[2020-09-09 14:16] ddunlap2005 commented on #106
@msatpathy26 Glad you got it to work. The error you get without the sleep is:

[code]

I tried a sleep of 2s and it still failed. I'm sure there is a better way to "delay" the function call but the 5s sleep works for now.

[2020-09-09 14:18] msatpathy26 commented on #106
@ddunlap2005 , by the way this is what works for me

-
-  id=$(http --ignore-stdin --check-status --print=h GET http://tuf-reposerver.ota.local/api/v1/user_repo/root.json x-ats-namespace:default | grep x-ats-tuf-repo-id | awk '{print $2}' | tr -d '\r')
+  sleep 5
+  id=$(http --ignore-stdin --check-status --print=h GET "${reposerver}/api/v1/user_repo/root.json" "${namespace}" | grep -i x-ats-tuf-r

[2020-09-10 02:34] ddunlap2005 commented on #110
So the outdated migrations is caused by the campaigner daemon being a different image. As soon as I updated the two images to being the same, the problem has gone away.

The campaigner still does not fully work as I cannot create a campaign properly through the web pages (see Andy Doan's campaigner issue from 2 years ago) but, at least, it is no worse than before.

[2020-09-10 06:13] Infineone opened #112 "Failed to open Admin UI http://app.ota.local"
After running server with make start command, I have tried to run Admin UI opening the http://app.ota.local in browser, but got an output:
ota-user-profile: System error
on http://app.ota.local/login page

Please, suggest some work-around to elaborate this problem and login to Admin UI successfully

[2020-09-10 06:16] #112 closed

[2020-09-10 06:17] Infineone commented on #112
It duplicates the issue #105

[2020-09-11 07:49] patrickvacek commented on #106
I happened to notice the same error recently. If you make a PR for the one line change to `id`, I'd be happy to merge it. I'm not sure the `sleep` is actually necessary. In my experience, you usually have to run `make start` a few times anyway.

[2020-09-11 08:55] houcros commented on #105
ota-plus-server always had a reference to ota-user-profile, see https://github.com/advancedtelematic/ota-plus-server/blob/f1c3fc86e76b6d950e8c24af7fc5731fb2ef7c4f/ota-plus-web/conf/application.conf#L255. The thing is that, somewhere along the way, ota-plus-server became more dependent on ota-user-profile, to a point where it won't work without it. But ota-user-profile is not part of the CE, hence

[2020-09-11 16:23] ddunlap2005 commented on #107
#113 will resolve this issue.

[2020-09-11 16:28] ddunlap2005 commented on #108
#113 will resolve this issue.

[2020-09-11 16:31] ddunlap2005 commented on #106
#114 will resolve this issue. The sleep really is necessary. The `HTTP 423 Locked` error occurs every time without it. With the fix, I find `make start` very reliable to be honest.

[2020-09-18 06:55] patrickvacek commented on #110
Was this fixed by https://github.com/advancedtelematic/ota-community-edition/pull/115?

[2020-09-18 06:57] patrickvacek commented on #109
@alexhumphreys what do you think about this?

[2020-09-18 06:57] patrickvacek commented on #108
Fixed by https://github.com/advancedtelematic/ota-community-edition/pull/113.

[2020-09-18 06:57] #108 closed

[2020-09-18 06:58] patrickvacek commented on #107
Fixed by https://github.com/advancedtelematic/ota-community-edition/pull/113.

[2020-09-18 06:58] #107 closed

[2020-09-18 06:58] patrickvacek commented on #106
Improved by https://github.com/advancedtelematic/ota-community-edition/pull/114.

[2020-09-18 06:58] #106 closed

[2020-09-18 06:59] patrickvacek commented on #111
Fixed, or at least improved, by https://github.com/advancedtelematic/ota-community-edition/pull/114.

[2020-09-18 06:59] #111 closed

[2020-09-18 07:36] alexhumphreys commented on #109
Aye, seems like a good idea! Just tried it there and had to update my super old version of Minikube, but aside from that I don't think there should be any issues with this change.

[2020-09-18 07:40] patrickvacek commented on #109
I do wonder if it makes sense to hardcode a version by default. I think I'd prefer if the current behavior were left as is by default, but having the option to specify a version seems reasonable.

[2020-09-18 07:51] alexhumphreys commented on #109
On `minikube` version `v1.13.0` it starts with k8s `v1.19.0` by default, presumably older versions of minikube have older k8s defaults. But we're basically wrapping `minikube start` in this `start` make target, and `minikube start` has like 60+ options, maybe all of which have defaults. We currently allow 3 of them to but configurable (`KUBE_VM`, `KUBE_CPU`, `KUBE_MEM`), I guess because the defaul

[2020-09-18 14:04] ddunlap2005 commented on #110
Yes, this issue is fixed by #115.

[2020-09-18 14:11] #110 closed

[2020-09-18 15:08] ddunlap2005 commented on #109
For the older ota-community-edition, it was a requirement to use an older Kubernetes Version. The Deployment templates still used `extensions/v1beta1` instead of the modern `apps/v1` which required the older Kubernetes. This particular issue, at least for now, is a non-issue with the latest code.

[2020-09-20 15:47] msatpathy26 commented on #105
This issue still persists and keeps coming back every now and then. Not able to open an issue in ota-plus-server repo as well.

[2020-09-22 09:54] #109 closed

[2020-10-07 01:38] nakagawa4930 opened #118 "How to create client on Aktualizr on Ubuntu."
I want to create an OTA Community Edition client with Aktualizr on Ubuntu.
Only how to build a Yocto client is described here, but how do I create it with Aktualizr on Ubuntu?
I would like to know how to provisioning device credentials when using Aktualizr on Ubuntu.
It is stated that it is necessary to specify as follows in the Yocto environment.

`SOTA_CLIENT_PROV = "aktualizr-device-prov"`
`SOT

[2020-10-07 08:21] houcros commented on #118
Not sure I understand, but maybe this is similar to what you're trying to do: https://docs.ota.here.com/getstarted/dev/qemuvirtualbox.html.

[2020-10-07 11:05] nakagawa4930 commented on #118
Thank you for your answer.
I'm checking the procedure manual for that URL.

[2020-10-19 05:05] nakagawa4930 commented on #118
The information I wanted was on the following site.
https://docs.ota.here.com/ota-client/latest/deb-package-install.html

[2020-10-19 05:05] #118 closed

[2020-10-21 19:02] ddunlap2005 opened #119 "campaign creation using web browser fail"
The problem occurs when I go through the web interface and am presented with the "Select update" dialog. The campaigner returns a 500 error. The error dialog then says:

No updates found. Create some updates first.

This part is identical to https://github.com/advancedtelematic/campaigner/issues/133. The workaround is to use the REST APIs to create a campaign. However, this just "moves" the proble

[2020-11-27 19:39] ddunlap2005 commented on #119
I decided to look into this again to see what the issue could be. After creating a campaign, etc., I issued the following command:

`curl -s http://localhost:8200/api/v1/namespaces/default/services/campaigner/proxy/api/v2/device/b64ecec0-d493-47b8-8663-8e6b36db60e4/campaigns
`
and received the following output:

`{"error_id":"25b92db0-80fb-49c9-b789-c543662798d7","description":"Tcp command [Connec

[2021-01-26 02:35] karymei commented on #105
Is there any plan to fix this issue? Thanks.

[2021-01-26 08:59] houcros commented on #105
Sorry, but I don't think so. To the best of my knowledge, this repo is not actively maintained.

[2021-03-04 12:57] wzq619 commented on #105
I got the same issue，do anyone have the solution?thanks!

[2021-06-25 09:48] simao commented on #105
I believe a patch like the following would allow the webapp to be used without user-profile, which is a closed source component:

https://gist.github.com/simao/3b347729c568c8929422fce57efc222a

However, like houcros said this project is not actively maintained, further development will continue at https://github.com/uptane/ota-community-edition Though a web frontend is not supported and the ota ce

[2021-07-01 11:28] lpcysmi commented on #105
Where do I apply this patch?

I have been trying to use https://github.com/uptane/ota-community-edition  and always end up at this error.

[2021-07-01 15:04] simao commented on #105
You'll need to apply that patch on the webapp (https://github.com/advancedtelematic/ota-plus-server) build a webpp container, and make ota-community edition use that container.

[2021-07-05 13:25] jinlingyi commented on #64
I met this same issue on ubuntu 20.04 with new master branch, and httpie is version 2.4.0

[2021-07-06 15:32] jinlingyi commented on #105
Are there any guide to resolve this issue now?

How to use this as web app of OTA CE?

[2021-07-06 15:48] simao commented on #105
This project is no longer under active development, you can use https://github.com/uptane/ota-community-edition which doesn't use a web app, or you can apply that patch to webapp yourself.

Again, this is not supported, but you can just

[code]

Use that image instead of the one included in this repo.

If you are just trying ota-ce and see how it works you could try https://github.com/simao/ota-li

[2021-07-07 02:15] jinlingyi commented on #105
Thank you for your reply! But the https://github.com/uptane/ota-community-edition has the same issue. Will it be updated?
I will try your patch for this issue.

[2021-07-07 11:01] simao commented on #105
See my comments on those projects.

[2021-07-13 14:06] jinlingyi commented on #105
Thank you very much! Now I can run this branch too. And the web UI can find device with qemu.
But the web UI can't create update and campaigner, and the ota-cli can't control this project.
This feature can only be used with API?

[2021-07-14 08:08] simao commented on #105
in which project are you having problems with ota-cli?

in which projet are you having problems with the web ui creating updates? And what exactly is the error?

in which project are you having trouble using ota-cli? ota-cli should be able to be used with both. See https://github.com/simao/ota-lith/blob/master/docs/updates-ota-cli.md

[2021-07-14 14:16] jinlingyi commented on #105
The web UI of advancedtelematic/ota-community-edition (also the local docker image of advancedtelematic/ota-plus-server) can't create update, the button of 'Create update' is missing.
And I can't set ota-cli with advancedtelematic/ota-community-edition because when I use 'ota init' the servers seems can't be    reach of 'http://campaigner.ota.local, etc.', even if I set it with Ingress.

[2021-07-19 08:13] jinlingyi commented on #105
Now I can use the web UI to create update. I change the UIFeature to all open in the ota-plus-server.
Thank you for your reply!

[2021-11-17 07:14] Jeredriq commented on #105
@jinlingyi
Can you please provide the road you take step by step?

[2022-01-04 01:52] DukesOnSkyline opened #120 "QEMU X86-64 running Aktualizr not able to receive Meta Data Updates from Repo Server running on OTA CE"
I have been trying to get the OTA Community Edition (CE) to work with Aktualizr running on QEMU. The GITHub OTA CE Micro Services (Repo Server, Tree-Hub, Director etc) are running on Kubernetes (1.14 Version) without any issues (No modifications).  (Reference: https://github.com/advancedtelematic/ota-community-edition)

  After copying the Credentials.zip from OTA CE Build into QEMU X86-64 Aktuali

[2022-01-06 14:16] pattivacek commented on #120
AFAIK this project isn't actively maintained anymore. You may note there haven't been any human-made changes for well over a year. That said, it should still work.

From the sound of things, you are booting a new qemu instance using your second image, hence there is nothing to update to. Is vim already available when you boot it? It sounds like what you want is to boot the first image and update t

[2022-01-06 21:03] DukesOnSkyline commented on #120
Thanks, Patti, for looking into it, appreciate your time. Yes, I understand that this Project is not actively maintained but I would like to get it to work to understand OTA Software updates to an embedded device.

Infrastructure: Building the QEMU Image and running OTA CE(Community Edition) Server on the same Linux Server (Ubuntu 20.04 LTS)

Step 1:
To answer your question, the very first QEMU Im

[2022-01-07 07:06] pattivacek commented on #120
Yes, you are missing something. See for example https://docs.ota.here.com/ota-web/dev/manage-devices.html and https://api.ota.here.com/docs. I know very little about running the backend, though, so if that doesn't make sense, you'll have better luck contacting Here or another company that uses this software (to my knowledge, Foundries and Toradex).

I really can't say. They are defaults for a reas

[2022-01-08 00:04] DukesOnSkyline commented on #120
I did reach out to HERE technologies on using OTA Connect rather than OTA Community edition but it looks like OTA Connect support is only available for contracting customers only. About Foundries.IO and Toradex, they have developed some sort of wrappers on top of OTA Community edition which is available for paid customers again. It looks like OTA Community Edition does not support the same level o

[2022-05-30 02:02] chllcy opened #121 "make start fail"
hi，I deploy this project with minikube，but It was failed by derector
`kubectl get all
NAME                                        READY   STATUS             RESTARTS          AGE
pod/app-6b7d5ff9c5-cbc9r                    1/1     Running            0                 2d10h
pod/campaigner-5678dd69b9-xhgp5             1/1     Running            1 (2d10h ago)     2d10h
pod/campaigner-daemon-849cb7466

[2022-05-31 13:08] outbackdingo opened #122 "fails on k8s 1.24.1"
❯ make start-ota
serviceaccount/weave-net configured
clusterrole.rbac.authorization.k8s.io/weave-net configured
clusterrolebinding.rbac.authorization.k8s.io/weave-net configured
role.rbac.authorization.k8s.io/weave-net configured
rolebinding.rbac.authorization.k8s.io/weave-net configured
daemonset.apps/weave-net configured
Using cluster from kubectl context: kubernetes

namespace/ingress-nginx unc

[2022-10-13 07:18] Jeredriq opened #124 "start.sh new_server & new_client explanation"
I don't really understand what is happening in new_server and new_client. It would be great if there was some explanation documentation about the sertificates.

I really don't understand what is going on here:
`  openssl x509 -req -days 3650 -in "${SERVER_DIR}/server.csr" -CAcreateserial \
    -extfile <(sed "s/\$ENV::SERVER_NAME/${SERVER_NAME}/g" "${CWD}/certs/server.ext") \
    -CAkey "${SERVER_